<div>
  <h1>Crear Alojamiento</h1>
  <form action="">
    <div class="form-group">
      <input type="text" class="form-control" name="" placeholder="Nombre">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="" placeholder="Nombre">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="" placeholder="Nombre">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="" placeholder="Nombre">
    </div>
    <div class="form-group">
      <textarea rows="5" class="form-control" name="" placeholder="Nombre"></textarea>
    </div>
    <div>
      <button type="submit" class="btn btn-primary">Crear</button>
    </div>
  </form>
</div>