
.ctn-search{
    width: 100%;
    height: 300px;
    background-image: url('../../assets/img/back-search.jpg');
    background-position: center center;
    margin-bottom: 40px;

    .ctn-form{
        display: flex;
        align-items: center;
        max-width: 1024px;
        margin: 0 auto;
        height: 100%;

        &__form{
            max-width: 1024px;
            width: 100%;
    
            h1{
                color: #fff;
            }
            input{
                width: 100%;
                border:0;
                border-radius: 5px;
                height: 40px;
                padding: 5px 10px;
                outline: 0 none;
            }
        }
    }

}